/*--------------- basic styling --------------- */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto Mono" !important;
  background: #0f0f0f !important;
  color: #fff !important;
}

.whitespace {
  width: 100%;
  height: 100px;
}

.container-fluid {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .whitespace {
    display: none;
  }
}

/*--------------- typewriter effect --------------- */
.line {
  width: 20em;
  top: 50%;
  margin: auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

h3 {
  text-align: center;
}

.anim-typewriter {
  animation: typewriter 4s steps(60) 1s 1 normal both,
    blinkTextCursor 700ms steps(10) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 10.5em;
  }
}

@media (max-width: 760px) {
  @keyframes typewriter {
    from {
      width: 0;
    }

    to {
      width: 11em;
    }
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}

/*-- navigation -- */
nav {
  width: 100%;
  background: #0f0f0f;
  height: 80px;
  position: fixed;
  z-index: 1;
}

nav #brand {
  float: left;
  display: block;
  margin-left: 82px;
  line-height: 80px;
  font-weight: bold;
}

nav #brand a {
  color: #fff;
  transition: all 0.3s ease-out;
}

nav #brand a:hover {
  text-decoration: none;
}

nav #menu {
  float: left;
  right: 70px;
  position: fixed;
}

nav #menu li {
  padding-left: 40px;
  display: inline-block;
  cursor: pointer;
  font-weight: 300;
  line-height: 80px;
  position: relative;
  transition: all 0.3s ease-out;
}

nav #menu li span {
  font-weight: 700;
}

nav #menu li a {
  color: #fff;
}

nav #menu li a:hover {
  text-decoration: none;
}

#toggle {
  position: absolute;
  right: 30px;
  top: 20px;
  font-weight: 300;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.close-btn {
  position: absolute;
  right: 16px;
  font-weight: 300;
  z-index: 2;
  cursor: pointer;
  top: -2px;
  line-height: 80px;
}

#resize {
  z-index: 1;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 90%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

#resize #menu {
  height: 90px;
  position: absolute;
  left: 45%;
  transform: translateX(-40%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

#resize #menu li a {
  color: #fff;
}

#resize #menu li a:hover {
  text-decoration: none;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }

  nav #brand {
    margin-left: 24px;
  }

  #menu a {
    font-size: 20px;
    font-weight: 300;
  }

  #resize li span {
    font-weight: bolder;
  }

  nav #menu {
    display: none;
  }
}

@media (min-width: 768px) {
  #resize {
    visibility: hidden !important;
  }
}

/*--------------- hero section --------------- */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-weight: lighter;
  text-align: center;
  letter-spacing: -2px;
  line-height: 58px;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 26px;
  }
}

/*--------------- scroll down icon animation --------------- */
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 100px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translate(-50%, 0) rotate(45deg);
  animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}

/*--------------- projects section --------------- */
h5 {
  text-align: center;
}

.vertical {
  margin-top: 40px;
  border-left: 3px solid rgb(255, 255, 255);
  height: 40px;
  position: absolute;
  left: 50%;
}

.project {
  height: 400px;
}

.img1 {
  background: url(./img/1.jpg) no-repeat 50% 50%;
  background-position: right;
  background-size: cover;
}

.project1 {
  background: url(./img/1.jpg) no-repeat 50% 50%;
  background-position: right;
  background-size: cover;
  cursor: pointer;
  filter: grayscale(100%);
  transition: 0.5s;
}

.project1:hover {
  filter: grayscale(0%);
}

.project1::after {
  content: "Admin dashboard";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 50%;
  left: -70%;
  right: 0;
  bottom: 0;
}

.img2 {
  background: url(./img/2.jpg) no-repeat 50% 50%;
  background-position: right;
  background-size: cover;
}

.project2 {
  background: url(./img/2.jpg) no-repeat 50% 50%;
  background-position: right;
  background-size: cover;
  cursor: pointer;
  filter: grayscale(100%);
  transition: 0.5s;
}

.project2:hover {
  filter: grayscale(0%);
}

.project2::after {
  content: "Travel Journal";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 50%;
  left: 115%;
  right: 0;
  bottom: 0;
}

.project3 {
  background: url(./img/4.jpg);
  background-position: right;
  background-size: cover;
}

.project3::after {
  content: "project 3";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 50%;
  left: -60%;
  right: 0;
  bottom: 0;
}

.next {
  cursor: pointer;
}

.prev {
  cursor: pointer;
}

@media (max-width: 768px) {
  .project {
    width: 90% !important;
    margin: 14px auto;
  }

  .vertical {
    display: none;
  }

  .project1::after,
  .project2::after,
  .project3::after {
    display: none;
  }
}

/*--- Footer ----*/
.footer {
  background: #111;
  text-align: center;
  padding: 5em;
  padding-bottom: 5em;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 1em;
  font-size: 2em;
}

.fa,
.contact {
  font-family: "FontAwesome" !important;
}

/*--- End of Footer ----*/

/*-- work page -- */

.hero-content {
  margin-left: 0%;
}

.hero-content p {
  font-weight: 300;
  line-height: 36px;
  color: grey;
}

.hero-content h6 {
  text-align: left;
}

/*-- End of work page -- */

@media (max-width: 768px) {
  .hero-content {
    padding-top: 50px;
    width: 96%;
    margin: 0 auto;
  }
}

/*-- about page -- */

.about {
  height: 100px;
  margin-top: 120px;
}

.my-skills .my-professional-skills {
  padding-right: 60px;
  color: white;
}

.my-skills .my-professional-skills h5 {
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 60px;
}

.my-progress {
  margin-bottom: 10px;
}

.my-progress .progress-bar-text {
  color: inherit !important;
}

.progress.progress-line {
  height: 10px;
  margin-right: 60px;
}

.progress.progress-line .progressbar-text {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 60px;
  transform: translateY(-35%);
  text-align: center;
}

.individ-skill {
  position: relative;
  margin-bottom: 15px;
}

.individ-skill .inner-skill {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.individ-skill .inner-skill .info {
  position: relative;
}

.individ-skill .inner-skill .info .name {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.9;
}

.individ-skill .inner-skill .info .percentage-num {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  font-weight: normal;
}

.individ-skill .inner-skill .progress-bar {
  position: relative;
  width: 100%;
  height: 7px;
  margin: 30px 0 2px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.individ-skill .inner-skill .percentage-typescript {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(5, 65, 130, 1);
  animation: typescript-fill 2s forwards;
}

@keyframes typescript-fill {
  100% {
    width: 75%;
  }
}

.individ-skill .inner-skill .percentage-react {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(5, 65, 130, 1);
  animation: react-fill 2s forwards;
}

@keyframes react-fill {
  100% {
    width: 70%;
  }
}


.individ-skill .inner-skill .percentage-node {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(5, 65, 130, 1);
  animation: node-fill 2s forwards;
}

@keyframes node-fill {
  100% {
    width: 70%;
  }
}

.individ-skill .inner-skill .percentage-java {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(5, 65, 130, 1);
  animation: java-fill 2s forwards;
}

@keyframes java-fill {
  100% {
    width: 65%;
  }
}


.individ-skill .inner-skill .percentage-sql {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(5, 65, 130, 1);
  animation: sql-fill 2s forwards;
}

@keyframes sql-fill {
  100% {
    width: 60%;
  }
}

.my-professional-skills {
  padding-left: 20%;
}

.my-professional-progress li {
  display: inline-block;
  margin: auto;
  float: none;
  width: 48%;
  margin-top: -5px;
  margin-bottom: 40px;
  margin-right: 1px;
  text-align: center;
}

.outer-progress-circle {
  position: relative;
  background: transparent;
  display: inline-block;
  fill: none;
  stroke-width: 19px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  padding: 2.5px;
  margin-bottom: 10px;
}

.inner-progress-circle {
  display: inline-block;
  height: 85px;
  width: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.my-professional-progress {
  margin: 5px 5px;
}

.progress-circle-value {
  color: rgb(205, 205, 205);
  text-align: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  translate: y 50px;
}

@keyframes animate-circle {
  100% {
    stroke-dashoffset: 0;
  }
}

.teamwork-circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: teamwork-stroke 2s ease-out forwards;
}

.communication-circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: communication-stroke 2s ease-out forwards;
}

.creativity-circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke: url(#GradientColor);
  animation: creativity-stroke 2s ease-out forwards;
}

.time-circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: time-stroke 2s ease-out forwards;
}

circle {
  stroke: url(#GradientColor);
}

.prof-name {
  font: italic 13px sans-serif;
  font-size: 15px;
  font-weight: 100;
  stroke: rgb(255, 255, 255);
}

@keyframes teamwork-stroke {
  to {
    stroke-dashoffset: 742;
  }
}

@keyframes communication-stroke {
  to {
    stroke-dashoffset: 730;
  }
}

@keyframes creativity-stroke {
  to {
    stroke-dashoffset: 780;
  }
}

@keyframes time-stroke {
  to {
    stroke-dashoffset: 762;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/*-- End of about page -- */

/*-- Contact page -- */
#contact-form {
  margin: 5% 1.4%;
}

#contact-form ul {
  list-style: none;
  border-radius: 5px;
  margin-bottom: 40px;
}

#contact-form li {
  padding: 10px;
}

#contact-form li:last-of-type {
  border-bottom: none;
}

#contact-form label {
  display: block;
  font-size: 0.8em;
  color: #999;
  padding-left: 5px;
}

#contact-project {
  padding-left: 1000px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 5px;

  border: none;
  resize: vertical;
  background: transparent;
  color: #fff;
  font-weight: bolder;
}

input:focus {
  outline: none;
  border: none;
}

textarea:focus {
  outline: none;
  border: none;
}

.textarea {
  border-bottom: 1px solid #dfdfdf;
}

@media (max-width: 768px) {
  #contact-form {
    margin: 5% -8%;
    width: 98%;
  }
}

.send-button-container {
  width: 200px;
  margin: 0 auto;
}

.send-button-message {
  text-align: center;
  text-transform: uppercase;
  translate: 0, 0, 10;
  padding: 1em;
}

.send-button {
  width: 100%;
  height: 50px;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: block;
  line-height: 1.1;
}

.send-svg {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  z-index: 1;
}

path {
  stroke-width: 2;
  stroke: rgba(5, 65, 130, 1);
  fill: none;
  stroke-dasharray: 460;
  -webkit-transition: -webkit-transform 1s linear;
  -moz-transition: -moz-transform 1s linear;
  transition: transform 1s linear;
}

.button:hover {
  cursor: pointer;
}

svg:hover path {
  animation: dash 2s reverse cubic-bezier(0.45, 0.03, 0.51, 0.95) 0s infinite;
  -webkit-animation: dash 2s reverse cubic-bezier(0.45, 0.03, 0.51, 0.95) 0s infinite;
  -moz-animation: dash 2s reverse cubic-bezier(0.45, 0.03, 0.51, 0.95) 0s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes dash {
  to {
    fill: transparent;
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dashoffset: 600;
    stroke-dasharray: 600 0;
  }
}

@keyframes dash {
  to {
    fill: transparent;
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dashoffset: 600;
    stroke-dasharray: 600 0;
  }
}

@-moz-keyframes dash {
  to {
    fill: transparent;
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dashoffset: 600;
    stroke-dasharray: 600 0;
  }
}

/*-- End of contact page -- */

/*-- project page -- */

/*-- project page -- */

.prev,
.next p {
  color: grey;
}

.prev p {
  text-align: left;
}

.next p {
  text-align: right;
}